%div.row.small-12.columns.login-header
  %h1.text-center Welcome back!

= form_for :session, url: login_path do |f|
  %div.row.small-11.medium-8.large-4.columns.error-message#sign-in-email-error
  %div.row.small-11.medium-8.large-4.columns
    = f.label :email, 'Your email or username'
    = f.email_field :email, id: 'sign-in-email', placeholder: 'Email Address'
  %div.row.small-11.medium-8.large-4.columns.error-message#sign-in-password-error
  %div.row.small-11.medium-8.large-4.columns
    = f.label :password, 'Your password'
    = f.password_field :password, id: 'sign-in-password', placeholder: 'Password'

  %div.row.small-11.medium-8.large-4.columns
    = f.submit 'Sign In', class: 'submit-buttons', id: 'sign-in'

%p
  %div.row.small-11.medium-8.large-4.columns.text-center.sign-up-text
    Don't have an account?
    = link_to 'Sign up', sign_up_path
