%div.align-center.align-vertical.row.forms
  %div.column.small-12.medium-10.wrapper
    %div#signup.row.align-center.align-vertical
      %div.small-12.columns.external-header
        Welcome, create your account to get started

      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        %div.small-12.medium-6.columns
          = label :first_name, 'First Name'
          = f.text_field :first_name
        %div.small-12.medium-6.columns
          = label :last_name, 'Last Name'
          = f.text_field :last_name

        %div.small-12.columns
          = label :email, 'Your email'
          = f.text_field :email

        %div.small-12.columns
          = label :username, 'Your username'
          = f.text_field :username

        %div.small-12.columns
          = label :password, 'Your Password'
          = f.text_field :password

        %div.small-12.columns
          = f.submit 'Continue'

      %div.small-12.column.instructions
        By clicking "Continue" I agree to our
        = link_to 'Terms of Service', '#'
