.align-center.align-vertical.row.forms
  .column.small-12.medium-8.wrapper
    .row.align-center.align-vertical#login
      .column.small-12
        .row.align-center
          .column.small-12.medium-8.external-header
            Welcome back!


        = form_for resource,
          as: resource_name,
          url: session_path(resource_name),
          html: { id: "sign-in-form" } do |f|
          .row.align-center
            .small-12.medium-8.column
              = f.label :email, "Your email or username"
              = f.email_field :email, id: "sign-in-email", placeholder: "Email Address"
              .error-message#sign-in-email-error
          .row.align-center
            .small-12.medium-8.column
              .forgot-password-link= link_to "Forgot password?", "#"
              .small-6.column.password-label= f.label :password, "Your password"
              = f.password_field :password, id: "sign-in-password", placeholder: "Password"
              .error-message#sign-in-password-error

          .row.align-center
            .small-12.medium-8.column
              = f.submit "Log in", class: "submit-buttons", id: "sign-in"

        .row.align-center
          .small-12.medium-8.column.instructions
            Don"t have an account?
            = link_to "Sign up", new_user_registration_path

