%h1 Listing Screens

%table
  %tr
    %th Picture
    %th Category
    %th
    %th
    %th
    %th

  - @screens.each do |screen|
    %tr
      -if screen.picture.present?
        %td= image_tag screen.picture.image.url(public: true)
      -else
        %td
      %td= screen.category.name
      %td= link_to 'Show', admin_screen_path(screen)
      %td= link_to 'Edit', edit_admin_screen_path(screen)
      %td= link_to 'Destroy', [:admin, screen], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Screen', new_admin_screen_path

