%div#notifications
  = form_for @user, method: :put do |f|
    - if @user.errors.any?
      #error_explanation
        %h2= "#{pluralize(@user.errors.count, "error")} prohibited this media item from being saved:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg

    %div.small-12.column
      .email-notifications-label= label_tag :send_production_updates, 'Email notifications'
      = f.label :send_product_updates do
        = f.check_box :send_product_updates
        %span.label-top
          Send me updates about new products and features
        %span.label-bottom
          Get occasional updates about new features and product enhancements.

    %div.small-12.column
      = f.label :send_new_screens_updates do
        = f.check_box :send_new_screens_updates
        %span.label-top
          Send me updates when new screens are added
        %span.label-bottom
          Get occasional updates when new screens are added. Usually once a week.

    %div.small-12.column.save-button
      = f.submit 'Save'
