.small-12.columns
  %fieldset
    .small-12.columns
      = label_tag(:"card-number", "Card details*")
      = text_field_tag :"card-number",
        nil,
        placeholder: "Card number",
        size: 20,
        data: { stripe: "number" }
      .error-message#card-number-error
    .small-12.medium-3.columns
      = label_tag(:"card-month", "Expiration month*")
      = select_month Date.today,
        { use_month_numbers: true },
        { id: "card-month", data: { stripe: "exp-month" } }
      .error-message#card-month-error
    .small-12.medium-3.columns
      = label_tag(:"card-year", "Expiration year*")
      = select_year Date.today,
        { end_year: Date.today.year + 10 },
        { id: "card-year", data: { stripe: "exp-year" } }
      .error-message#card-year-error
    .small-12.medium-6.columns
      = label_tag(:cvc, "CVC: required")
      = text_field_tag :cvc,
        nil,
        placeholder: "CVC",
        size: 4,
        data: { stripe: "cvc" }
      .error-message#cvc-error
