%div.small-12.medium-4.large-2.columns#card.reveal-link{ data: { category: "#{screen.category.name}", tag: "#{screen.tags.first.name}" } }
  %div.card-image
    = image_tag screen.picture.image.url(public: true)
  %div.card-caption
    %a.card-icon{ href: '#' }
      %i.icon-download-cloud
      %span.download-count
        = screen.downloaded_by.size
    %a.card-icon{ href: '#' }
      %i.icon-heart
      %span.favorites-count
        = screen.favorited_by.size
