#edit-subscription-partial
  = form_for user,
    url: subscription_path(subscription),
    method: :put,
    html: { id: "update-subscription" } do |f|
    = f.fields_for :subscription do |s_form|
      .small-12.columns.section
        %fieldset
          .small-12.columns
            .small-6.columns.no-padding
              %label Plan/Subscription
            .small-6.columns.no-padding
              %label Plan/Subscription
          .small-12.columns
            .monthly-radio.small-6.column.radio{ class: active_subscription_class("monthly") }
              = s_form.radio_button :stripe_plan_id, "monthly", checked: true
              = s_form.label(:stripe_plan_id, "Monthly - $15 every month")
            .yearly-radio.small-6.column.radio{ class: active_subscription_class("yearly") }
              = s_form.radio_button :stripe_plan_id, "yearly"
              = s_form.label(:stripe_plan_id, "Yearly - $120 once a year")
          .small-12.columns
            %label Your #{plan_id} Subscription will renew on <billing date> for <price>
      .small-12.columns.section#edit-payment-method
        %fieldset
          .small-12.columns
            %label Card on file
            .small-5.column.card-on-file
              %span #{card_brand} ...#{card_last4}
            .small-4.column.end.change-card-link
              (
              = link_to "Change", edit_profile_payment_method_path, remote: true
              )
          .small-12.columns
            %label Expires on #{expiration_date}

    .small-12.columns.section
      %fieldset
        .small-12.column
          = f.label :email, "Billing email"
          = f.text_field :email
          %label All billing-related emails will be sent to this email.
        .small-12.column
          = link_to "Cancel Subscription", subscription_path(subscription), method: :delete
        .small-12.column
          = f.submit "Save",
            id: "update-stripe-submit",
            data: { disable_with: "Please wait..." },
            onclick: "updateStripeCard();"




