%div.align-center.align-vertical.row.forms
  %div.column.small-12.medium-8.wrapper
    %div#login.row.align-center.align-vertical
      %div.column.small-12
        %div.row.align-center
          %div.column.small-12.medium-8.external-header
            Welcome back!


        = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
          /%div.row.small-11.medium-8.large-4.columns.error-message#sign-in-email-error
          %div.row.align-center
            %div.small-12.medium-8.column
              = f.label :email, 'Your email or username'
              = f.email_field :email, id: 'sign-in-email', placeholder: 'Email Address'
          %div.row.align-center
            /%div.small-4.column.error-message#sign-in-password-error
            %div.small-12.medium-8.column
              .forgot-password-link= link_to 'Forgot password?', '#'
              .small-6.column.password-label= f.label :password, 'Your password'
              = f.password_field :password, id: 'sign-in-password', placeholder: 'Password'

          %div.row.align-center
            %div.small-12.medium-8.column
              = f.submit 'Log in', class: 'submit-buttons', id: 'sign-in'

        %div.row.align-center
          %div.small-12.medium-8.column.instructions
            Don't have an account?
            = link_to 'Sign up', new_user_registration_path

