= form_for user, method: :put do |f|
  - if user.errors.any?
    #error-explanation
      %h2 #{pluralize(user.errors.count, 'error')} prohibited this media item from being saved:
      %ul
        - user.errors.full_messages.each do |msg|
          %li= msg

  .small-12.column
    .small-6.column.no-padding
      = label_tag :first_name
      = f.text_field :first_name
    .small-5.column.no-padding
      = label_tag :last_name
      = f.text_field :last_name
  .small-12.column
    = label_tag :username
    = f.text_field :username
  .small-12.column
    = label_tag :email, "Email address"
    = f.text_field :email
  .small-12.column
    = label_tag :password, "Change password"
    = f.text_field :password
  .small-12.column
    = f.submit "Save"
