
= form_for @user, method: :put do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this media item from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %div.small-12.column
    %div.small-6.column.no-padding
      = label_tag :first_name
      = f.text_field :first_name
    %div.small-5.column.no-padding
      = label_tag :last_name
      = f.text_field :last_name
  %div.small-12.column
    = label_tag :username
    = f.text_field :username
  %div.small-12.column
    = label_tag :email, 'Email address'
    = f.text_field :email
  %div.small-12.column
    = label_tag :password, 'Change password'
    = f.text_field :password
  %div.small-12.column
    = f.submit 'Save'
